In [ ]:
'''
versao - versão da API (Obrigatório)
codigo - identificador interno da entidade (Obrigatório)
page - número da página
pagesize - número máximo de registros para retornar em uma consulta
exer - identificador do exercício (veja a API 2 ) (Obrigatório)
inicio - data de início no formato dd/mm/aaaa (Obrigatório)
fim - data final no formato dd/mm/aaaa (Obrigatório)
orgao - identificador do órgão (ver API 3)
elem - identificador do elemento de despesa (ver API 4)
covid - informa se é para retornar apenas dados referentes ao enfrentamento à COVID-19. Valores possíveis: true ou false (valor padrão é false)
'''

In [1]:
import pandas as pd

In [43]:
Ano_exercicio = 2019
url = 'https://www.governotransparente.com.br/transparencia/api/v1/json/exercicios/4507490'
exercicio = pd.read_json(url)

versao = 'v1'
codigo = '4507490'
page = '1'
pagesize = '100000'
exercicio = str(exercicio[exercicio['nome'] == Ano_exercicio]['id'][1])
inicio = '01/01/2019'
fim = '01/01/2020'
covid = 'False'

In [44]:
url = 'https://www.governotransparente.com.br/transparencia/api/{0}/json/pagamentos/{1}?page={2}&pagesize={3}&exer={4}&inicio={5}&fim={6}&covid={7}'.format(versao, codigo, page, pagesize, exercicio, inicio, fim, covid)
url

'https://www.governotransparente.com.br/transparencia/api/v1/json/pagamentos/4507490?page=1&pagesize=100000&exer=2&inicio=01/01/2019&fim=01/01/2020&covid=False'

In [70]:
df = pd.read_json(url)

In [71]:
df.head()

,dataMovimento,numeroDocumento,numeroEmpenho,credor,cnpjcpf,naturezaDaDespesa,modalidadeLicitacao,registro,valor,idOrgao,idElem,idEmpenho
0,02/01/2019,2010004,2010161,BANCO BRADESCO\n S/A,XX.X46.948/\n0001-12,3.3.90.39.00 -\n Outros serv. \nde terc. pesso...,Outros/não se aplica,Realizado,"64,84",142,3719,235019
1,02/01/2019,2010005,2010155,BANCO DA AMAZÔ\nNIA S.A,XX.X02.979/\n0001-44,3.3.90.39.00 -\n Outros serv. \nde terc. pesso...,Outros/não se aplica,Realizado,"3.787,80",142,3719,234219
2,02/01/2019,2010002,2010160,BANCO DO BRASI\nL S/A,XX.X00.000/\n3691-95,3.3.90.39.00 -\n Outros serv. \nde terc. pesso...,Outros/não se aplica,Realizado,"168,00",142,3719,235319
3,02/01/2019,2010007,2010150,BANCO DO BRASI\nL S/A,XX.X00.000/\n3691-95,3.3.90.39.00 -\n Outros serv. \nde terc. pesso...,Outros/não se aplica,Realizado,"190,00",142,3719,233619
4,02/01/2019,2010003,2010167,BANCO DO ESTAD\nO DO PARÁ S.A,XX.X13.711/\n0043-67,3.3.90.39.00 -\n Outros serv. \nde terc. pesso...,Outros/não se aplica,Realizado,"6,00",142,3719,235819

In [73]:
colunas = df.columns

for c in colunas:
    df[c] = df[c].apply(lambda x:str(x).replace('\n',''))

In [74]:
df.head()

,dataMovimento,numeroDocumento,numeroEmpenho,credor,cnpjcpf,naturezaDaDespesa,modalidadeLicitacao,registro,valor,idOrgao,idElem,idEmpenho
0,02/01/2019,2010004,2010161,BANCO BRADESCO S/A,XX.X46.948/0001-12,3.3.90.39.00 - Outros serv. de terc. pessoa ju...,Outros/não se aplica,Realizado,"64,84",142,3719,235019
1,02/01/2019,2010005,2010155,BANCO DA AMAZÔNIA S.A,XX.X02.979/0001-44,3.3.90.39.00 - Outros serv. de terc. pessoa ju...,Outros/não se aplica,Realizado,"3.787,80",142,3719,234219
2,02/01/2019,2010002,2010160,BANCO DO BRASIL S/A,XX.X00.000/3691-95,3.3.90.39.00 - Outros serv. de terc. pessoa ju...,Outros/não se aplica,Realizado,"168,00",142,3719,235319
3,02/01/2019,2010007,2010150,BANCO DO BRASIL S/A,XX.X00.000/3691-95,3.3.90.39.00 - Outros serv. de terc. pessoa ju...,Outros/não se aplica,Realizado,"190,00",142,3719,233619
4,02/01/2019,2010003,2010167,BANCO DO ESTADO DO PARÁ S.A,XX.X13.711/0043-67,3.3.90.39.00 - Outros serv. de terc. pessoa ju...,Outros/não se aplica,Realizado,"6,00",142,3719,235819