In [1]:
import mysql.connector
import pandas as pd

In [2]:
schema = 'prorural'

In [3]:
def get_tabela_name(tabela_name):
    cnx = mysql.connector.connect(user='dtwanalytics', password='Dtwo@23a',
                              host='192.168.238.101',
                              database='prorural')

    query = "SELECT * FROM information_schema.tables WHERE table_schema = '{}'".format(tabela_name)

    cursor = cnx.cursor()
    cursor.execute(query)
    table_name = cursor.fetchall()
    tables = pd.DataFrame(table_name)
    names = tables[2]
    cursor.close()
    cnx.close()
    return names

In [8]:
def get_table(name_table):
    cnx = mysql.connector.connect(user='dtwanalytics', password='Dtwo@23a', host='192.168.238.101', database='prorural')
    cursor = cnx.cursor()
    cursor.execute('SELECT * FROM {0}.{1}'.format(schema, name_table))
    table_name = cursor.fetchall()
    print(table_name[0])
    tables = pd.DataFrame(table_name, columns=cursor.column_names)
    cursor.close()
    cnx.close()
    return tables

In [5]:
tabelas_prorural = get_tabela_name(schema)

In [9]:
produtor = get_table('produtor')

(1, '', '', 'Cidade Nova', '180.201.192-72', '', datetime.date(1952, 8, 24), 'Ensino Fundamental Completo', 'Casado', 0, 'Rua A', 'Parauapebas', 'ALBERTO LOPES MUNIZ', 'ALDENYR DE LEMOS MUNIZ', '333', 'SSP/PA', '', 0, '133260667', '', '81468979', 1251, 10, 1, 1, '', None, 'Masculino', 'Proprietário', '', None, datetime.date(2016, 5, 19))

In [10]:
produtor

,id,apelido,apelidoConjuge,bairro,cpf,cpfConjuge,dataNascimento,escolaridade,estadoCivil,feirante,...,estado_id,pais_id,sindicato_id,celular,dataNascimentoConjuge,sexo,tipoProdutor,nis,foto,data_cadastro
0,1,,,Cidade Nova,180.201.192-72,,1952-08-24,Ensino Fundamental Completo,Casado,0,...,10,1,1.0,,None,Masculino,Proprietário,,None,2016-05-19
1,2,CEARA,IRMA,CAETANÓPOLIS,155.696.162-68,261.944.142-00,1952-03-03,,Casado,0,...,6,1,NaN,91664920,1947-05-08,Masculino,Proprietário,,None,2016-05-19
2,3,,None,LIBERDADE,688.243.272-49,None,1954-04-20,,Solteiro,0,...,17,1,NaN,,None,Masculino,Outro,None,None,2016-05-19
3,4,PRINCESA,DUDU,BAIRRO DA PAZ,781.115.282-72,,1972-06-06,,Casado,0,...,10,1,NaN,None,None,Feminino,,None,None,2016-05-19
4,5,TOINHA,None,MARANHÃO,007.290.482-84,None,1992-09-07,Ensino Médio Completo,Solteiro,1,...,14,1,1.0,,None,Masculino,,,None,2016-05-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7087,7904,,,,655.015.602-59,,1976-10-01,,União Estável,0,...,10,1,NaN,,None,Masculino,,,None,2022-06-13
7088,7907,,,CIDADE NOVA,625.379.382-91,,1979-03-08,Ensino Médio Completo,Casado,0,...,17,1,NaN,99100-8930,None,Masculino,,,None,2022-06-14
7089,7908,,None,,029.133.912-30,None,1999-12-02,,Solteiro,0,...,14,1,NaN,,None,Masculino,,,None,2022-06-15
7090,7909,,,,706.917.542-68,,1982-11-06,Ensino Médio Completo,Casado,0,...,14,1,NaN,984145297,None,Feminino,Proprietário,,None,2022-06-15
7091,7910,,None,JARDIM CANADA,734.322.452-20,None,1980-10-29,Ensino Médio Completo,Solteiro,0,...,14,1,NaN,991051735,None,Feminino,Proprietário,,None,2022-06-15